---
import Header from '@/components/header.astro';
import Navigation from '@/components/navigation.astro';
import Footer from '@/components/footer.astro';
import { getLangFromUrl } from '@/i18n/utils';
import '@/styles/global.css';

interface Props {
  title: string;
  description: string;
}

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <!-- <link
      rel='icon'
      type='image/png'
      href='/logo.png'
      sizes='16x16'
    /> -->
    <!-- {
      lang === 'en' && (
        <link
          rel='alternate'
          title='Monéxico'
          type='application/rss+xml'
          href={new URL('feed.xml', Astro.site)}
        />
      )
    }
    {
      lang === 'es' && (
        <link
          rel='alternate'
          title='Monéxico'
          type='application/rss+xml'
          href={new URL('feed.xml', `${Astro.site}/en/`)}
        />
      )
    } -->
    <link
      rel='sitemap'
      href='/sitemap-index.xml'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class='prose max-w-[65ch] px-4 md:px-0 mx-auto pt-28'>
      <slot />
    </main>
    <Navigation />
    <Footer />
  </body>
</html>
